<h1>Here are Your Harvests</h1>

<% @harvests.each do |harvest|  %>
<ul>
<li> <%= harvest.weight %></li>
<p>(Source Plant: <%=link_to harvest.plant.variety, plant_path(harvest.plant)%>) - (Grow Bed: <%=link_to harvest.plant.bed.name, bed_path(harvest.plant.bed)%>) </p>
<%end  %>


<h5><% link_to "Add a New harvest for a plant", new_harvest_path %></h5>

<h5><%= link_to "Go to Your Plants", plants_path %></h5>