<% if @plant.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@plant.errors.count, "error") %> prohibited this Harvest from being saved:</h2>
		<ul>
			<% @plant.errors.full_messages.each do |message| %>
				<p><%= message %></p>
			<% end %>
		</ul>
	</div>
<% end %>