<h1>Plants#index</h1>
<p>Find me in app/views/plants/index.html.erb</p>

<% @plants.each do |plant|  %>
<ul>
<li> <%= plant.variety %></li>
</ul>
<%end  %>

<h5><%= link_to "Grow a New Plant!", new_plant_path %></h5>

<h5><%= link_to "Go to Your Beds", beds_path %></h5>