<h1>Beds#index</h1>
<p>Find me in app/views/beds/index.html.erb</p>


<% @beds.each do |bed|  %>
<ul>
<li> <%= link_to bed.name, bed_path(bed) %></li>
</ul>
<%end  %>


<h5><%= link_to "Add a New Bed", new_bed_path %></h5>